{% extends "base.html" %}
{% load static %}
<!-- Header -->
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
<!-- Homepage image upon which first letters of adjectives ares coloured to spell out site name -->
{% block content %}
<div id="hello2" class="container h-100">
   <div class="row h-100">
      <div class="col-7 col-md-6  my-auto">
         <h1 class="display-4 logo-font text-black">
           <p>About</p>

         </h1>
         <div class="my-6 ">
            <h4 id="text1">
                Hey everyone, I'm getting rid of some things asap with no set price, so best offer gets. The more stuff you get, the better deal I can give you. Pick up only in Cambridge and Waterloo.
                If it's still on the site, it's still available. Feel free to DM me or text directly for more information on items or any general questions!
                <br>
                <br>
                *If you want to buy, just screenshot the items and dm me and I can give you a cheap price.
            </h4>
         </div>
      </div>
   </div>
</div>
<footer>
   <!-- Social media handles in footer -->
   <div class="s-m">
      <a href="https://www.facebook.com/marketplace/profile/100005762701075/?ref=share_attachment" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/chuzy22/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="tel:<?= esc_url($5192122990) ?>" target="_blank"><i class="fa fa-phone"></i></a>
</footer>
</div>
{% endblock %}
